.marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
    background: yellow;
    color: black;
    border: 5px solid black;
}

.logo {
    padding-top: 50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.aboutus {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid white;
}

.aboutus img {
    width: 100%;
    height: 300px;
}

.aboutus hr {
    width: 100%;
}

.aboutus h5,
.aboutus p {
    margin-left: 20px;
}

#achievementsID {
    padding-bottom: 10px;
}

.heading {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.heading i {
    float: right;
}

.text span {
    color: yellow;
}

.comic_li {
    background-color: yellow;
    margin-top: 13px;
}

.comic_li h4 {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 8px;
}

.comic_li img {
    border-radius: 25px;
}

.comic_li p {
    color: black;
    margin-top: 10px;
}

.book_li {
    background-color: greenyellow;
    margin-top: 13px;
}

.book_li h4 {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 8px;
}

.book_li img {
    border-radius: 25px;
}

.book_li p {
    color: black;
    margin-top: 10px;
}
